#streamerGameEvent {
    margin-top: 10px;
    margin-bottom: 10px;
}

#makeBetBtn {
    width: 50%;
}

#makeItEventButton, #dontItEventButton {
    width: 150px;
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#qrcode img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

video {
    width: 100%;
    height: 600px;
}


