#upload {
    margin: -10px 0px 20px -15px; width: 360px; cursor: pointer;
}

#gameEventTitle {
    color: black;
}
.container-center {margin: 0 auto;}

#gameEventPrettyViewName {
    width: 200px;
}
#gameEventValue {
    width: 100px;
}
#createGameEventBtn {
    width: 200px;
    margin-top: 10px;
}

#gameButtons {
    margin: auto;
    width: 400px;
}

